body {
    font-family: Arial, sans-serif;
    background-color: #cb4141;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the form is vertically centered */
}

h1 {
    text-align: center;
    margin-top: 51px;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #222c22;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #222c22;
}
